/*代码块头部图标 start*/
.markdown-section pre:before {
  color: #000000;
  content: "";
  display: block;
  background: url(terminal-logo.png);
  height: 30px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-position: 10px 10px;
  border-radius: 10px 10px 0px 0px;
}
/*代码块头部图标 end*/

/* 代码块 */
.markdown-section pre {
  margin: 0 !important;
  padding: 0 !important;
}
/* 外部阴影 */
/* box-shadow: x y 模糊程度 阴影扩展长度 颜色; */
pre {
  box-shadow: 3px 3px 10px 1px rgb(201, 201, 201);
  border-radius: 10px !important;
  /* padding-left: 20px !important; */
}

/* 代码块内部的代码部分 */
.markdown-section pre > code {
  margin: 0 !important;
  border-radius: 0px !important;
  background-color: #ffffffff !important;
  font-size: 13px !important;
  white-space: pre !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
}

::after {
  color: #5f5f5f !important;
  font-size: 13px !important;
}

/* 添加代码块复制按钮样式: https://github.com/jperasmus/docsify-copy-code/blob/master/src/styles.css */
.docsify-copy-code-button {
  position: absolute !important;
  top: 40px !important;
  right: 1px !important;
  background: rgba(0, 160, 214, 0.541) !important;
  height: 33px;
  border-radius: 13px !important;
  color: #ffffff !important;
  font-size: 13px !important;
  display: flex;
  align-items: center;
  text-align: center;
}
/* 块内文本框颜色设置为透明 */
.docsify-copy-code-button span {
  background-color: rgba(255, 255, 255, 0) !important;
  cursor: pointer;
  border-radius: 20px !important;
  transition: all 0.5s ease !important;
}
.docsify-copy-code-button .error,
.docsify-copy-code-button .success {
  transform: translate(0%, -50%) !important;
}
.docsify-copy-code-button.error .error,
.docsify-copy-code-button.success .success {
  right: 80% !important;
  opacity: 1;
  transform: translate(-66%, -50%) !important;
}
.docsify-copy-code-button .error {
  background-color: rgb(197, 30, 30) !important;
}
.docsify-copy-code-button .success {
  background-color: rgba(0, 189, 79, 0.979) !important;
}





/* 注释的颜色 */
.token.comment {
  color: #149e26 !important;
}
/* 关键字颜色 */
.token.keyword {
  color: #c678dd !important;
}

/* .token.keyword {
  color: #c678dd !important;
}

.token.tag {
  color: #a589ad !important;
}

.token.attr-name {
  color: #de916c !important;
}

.token.attr-value {
  color: #4faee2 !important;
}

.token.macro.property {
  color: #4faee2 !important;
}

.token.function {
  color: #e6b456 !important;
}

.token.punctuation {
  color: #c0c3c1 !important;
}

.token.number {
  color: #c0c3c1 !important;
}

a.section-link {
  font-size: 0.9rem !important;
} */
