@font-face {
  font-family: KaTeX_Main;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KaTeX_Main.woff2) format("woff2"),
    url(fonts/KaTeX_Main.woff) format("woff"),
    url(fonts/KaTeX_Main.ttf) format("truetype");
}


.katex {
  /* Change font-family here */
  text-rendering: auto;
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  text-indent: 0;
}
.katex .amsrm,
.katex .mathbb,
.katex .textbb {
  font-family: KaTeX_Main;
}
