/*滚动条样式 start*/
/* 滚动条宽度 */
/* ::-webkit-scrollbar {
  width: 5px;
} */
/* 滚动条颜色 */
/* ::-webkit-scrollbar-thumb {
  background: #33a9dc;
  background-image: linear-gradient(#6ecd56, #33a9dc, #cb6196, #c16290);
  border-radius: 2em;
} */
