.sidebar {
  padding-top: 6px;
}
aside.sidebar ul li {
  margin: 0;
  position: relative;
  
}

/* aside.sidebar ul li ul {
  margin: 6px 0;
} */

aside.sidebar ul li p {
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
}

aside.sidebar ul li a {
  line-height: 35px;
  font-size: 14px;
  padding: 0px 0 0px 22px;
}

aside.sidebar ul li.active > a {
  font-size: 20px !important;
  font-weight: 800;
}

aside.sidebar ul li.active > a:before {
  content: "" !important;
  position: absolute !important;
  margin: 0 !important;
  width: 10px !important;
  height: 10px !important;
  top: 15px !important;
  left: 0px !important;
  border-radius: 50% !important;
  background-color: #fed24a !important;
  box-shadow: 0 0 0 3px rgba(254, 210, 74, 0.4) !important;
}
